<mat-card class="card-form-platillo">
  <mat-card-header>
    <mat-card-title>Crear platillo</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div [formGroup]="formPlatillo" class="contenedor-card-platillo">

      <mat-form-field hintLabel="un maximo de 30 caracteres">
        <input autocomplete="off" formControlName="inputNombre" matInput #input maxlength="30" placeholder="Nombre">
        <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <span matPrefix>Q &nbsp;</span>
        <input type="number" formControlName="inputPrecio" matInput placeholder="Precio">
      </mat-form-field>

      <mat-form-field style="margin-top: 8px;">
        <textarea matInput placeholder="Descripcion" formControlName="inputDescripcion"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoría</mat-label>
        <mat-select (selectionChange)="changeClient($event.value)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <input type="file" style="margin-top: 5px;" #imageInput accept="image/*"> -->

      <div class="custom-file-container" data-upload-id="myUniqueUploadId">

        <label class="custom-file-container__custom-file">
          <input type="file" #imageInput class="custom-file-container__custom-file__custom-file-input" accept="image/*"
            aria-label="Choose File">
          <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
          <span class="custom-file-container__custom-file__custom-file-control"></span>
        </label>
        <label>
          <!-- <button style="margin-top: 10px;" mat-raised-button href="javascript:void(0)" color="primary" class="custom-file-container__image-clear" title="Clear Image">Quitar</button> -->
          <a style="margin-top: 10px;" href="javascript:void(0)" class="custom-file-container__image-clear"
            title="Clear Image"></a>
        </label>
        <div class="custom-file-container__image-preview"
          style="margin-top: 10px; overflow: hidden; margin-left: auto; margin-right: auto; margin-bottom: 0px; height: 10rem; width: 10rem;">
        </div>
      </div>



    </div>


  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="guardarDatos()" color="primary" [disabled]="estadoBotonGuardar">Guardar</button>
  </mat-card-actions>
</mat-card>