/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* body {
    background-image: url('https://4.imimg.com/data4/TS/MK/MY-310713/gf_002-500x500.jpg');
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: center;
} */

    
  
      @media (min-width: 720px) {
        body{
            height: 100%;
        }
      
        html {
            background-image: url("assets/images/backgraund-desktop.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
      }

      
  @media (max-width: 719px) {
    
    body{
        height: 100%;
    }
    
     html {
        background-image: url("assets/images/backgraund-mobile.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  } 